<SvgAnimatedSOS Size="100"/>

<MudText Typo="Typo.h3" Class="mb-4" Align="Align.Center">Welcome!</MudText>
<MudText Typo="Typo.subtitle1" Class="mb-4" Align="Align.Center">You have taken the first step toward a safer cloud.</MudText>
<MudText Typo="Typo.h6" Class="mt-4 mb-4" Align="Align.Center" id="instructionHelpCircle">
    Not sure where to start? The documentation has a great step-by-step guide to get started with Agents and Packages; check the link below!
</MudText>
<MudText Typo="Typo.subtitle1" Class="mt-4 mb-4" Align="Align.Center">
    If you have questions while using SecOps Steward, you can click the <MudIcon Class="icon-baseline-adjustment" Icon="@Icons.Material.Filled.HelpOutline"/> icon at the upper right corner of any page, when it is lit!
</MudText>
<div style="height: 3em;">&nbsp;</div>

<div style="bottom: 2em; left: 0; position: absolute; right: 0; text-align: center;">
    <MudButton Variant="Variant.Outlined" StartIcon="@Icons.Material.Filled.Public" Link="https://www.secopssteward.com" Color="Color.Secondary">Website</MudButton>
    <MudButton Variant="Variant.Outlined" StartIcon="@Icons.Material.Filled.MenuBook" Link="https://docs.secopssteward.com" Color="Color.Tertiary">Documentation</MudButton>
</div>